[submodule "firmware/core0/meshtastic"]
	path = firmware/core0/meshtastic
	url = https://github.com/tengigabytes/firmware
	branch = feat/rp2350b-mokya
[submodule "firmware/core1/freertos-kernel"]
	path = firmware/core1/freertos-kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "firmware/core1/lvgl"]
	path = firmware/core1/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v9.2
